/* Cormorant Garamond - font family */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

/* Colours */

:root{
    --main-color: #3D9AE2;
    --main-color-dark: #2470a9;
    --secondary-color: #01CCB4;
    --secondary-color-dark: #009e8b;
}

*{
    margin: 0;
    padding: 0;
}

/* Header brand */
.logo-holder {
    padding-left: 20px;
}

.navbar-links{
    justify-content: right;
}

footer{
    background-color: var(--main-color);
}

.form-container{
    background-color: var(--main-color);
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 40px;
    margin-top: 25px;
    width: 70%;
    border-radius: 25px;
}

.form-container button{
    width: 100%;
    background-color: var(--secondary-color);
    border-width: 0px;
}

.form-container button:hover{
    background-color: var(--secondary-color-dark);
}